@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Comic Conundrum</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started:</h2>
        <p> I have been an avid collector of comics since the 1980s and my collection now numbers in the tens of thousands.</p>  
        <p> This presents me with an interesting problem:</p>
        <ul style="list-style-type:square">
            <li> How do I keep it all organized?</li>
            <li> How can I find out what issues I am missing? </li>
        </ul>    
        <p> I need your help!</p>
        <p> Please build a heroic web application to help me fight the forces of chaos and entropy. </p>
    </div>

    <div class="col-md-4">
        <h2>Business Requirements:</h2>
        <ul style="list-style-type:square">
            <li>Allow me to add, update, and delete comics.</li>
            <li>Allow me to search my comics collection.</li>
            <li>Allow me to interface with a Comics API to search for comic / issue / publisher information. </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Technical Requirements:</h2>
        <ul style="list-style-type:square">
            <li>Your solution must be publicly available as a git repository on https://github.com/ </li>
            <li>Use either SQL Server or MongoDb as your persistence layer</li>
            <li>This must be a web application</li>
            <li>Server-side application code must either be C#/.Net (most recent version of the framework) or JS/Node</li>
            <li>Client-side application code may be WebForms, MVC, or a SPA framework of your choosing</li>
            <li>Bootstrap, Foundation, or similar CSS framework</li>
            <li>Use at least one tool/technology that you have never used before</li>
        </ul>
    </div>
</div>