<header><h2>Search Marvel<span style="float:right" id="step3-collapse" class="collapse">Collapse Section</span><span style="float:right; display:none;" id="step3-expand" class="expand">Expand Section</span></h2></header>

<div class="" id="grpSearch">
    <input type="text" class="form-control" name="txtmarvelsearch" id="txtMarvelSearch" placeholder="Search Title...">
    <div class="editor-field"><input type="button" value="Submit" id="btnMarvelSearch" class="bluebtn" /></div>
    @*<button type="button" id="btnMarvelSearch"><span class="glyphicon glyphicon-search"></span></button>*@
</div>

<div id="searchMsg"></div>

<table id="comicTable" class="table">
    <thead>
        <tr>
            <th> Title of Comic </th>
            <th> Issue# </th>
            <th> Series </th>
            <th> Page Count</th>
            <th> Creator/Contributor </th>
        </tr>
    </thead>

    <tbody></tbody>

</table>

<script type="text/javascript">

    var marvelSearch = $("#txtMarvelSearch").val();

    $("#btnMarvelSearch").click( function () {
        //clear msg, hide table, show loading
        $("#comicTable").html("");
        $("#searchMsg").html("");
        //$("#comics table").hide();
        $.get("@Url.Action("GetComics", "Comic")", { _strSearch: marvelSearch }, function (dt) {
            //alert("Inside URL Action");
            if (dt.data.results.length > 0) {
            $.each(dt.data.results, function (i, comic) {
                    var html = "";
                    //alert(comic.title);
                    html += "<tr id=" + comic.id + ">";
                    html += "<td>" + comic.title + "</td>";
                    html += "<td>" + comic.issueNumber + "</td>";
                    html += "<td>" + comic.series.name + "</td>";
                    //$.each(comic.creators.items, function (x, creator) {
                    //    html += "<tr>" + creator.name + " - " + creator.role + "</tr>"
                //});
                    if (comic.creators.items.length > 0)
                        html += "<td>" + comic.creators.items[0].name + " - " + comic.creators.items[0].role + "</td>";
                    else
                        html += "<td></td>";
                    html += "<td>" + comic.pageCount + "</td>";

                    $("#comicTable").find("tbody").append(html);
                    $("#comicTable").show();
                });
            }
            else {
                $("#searchMsg").html("There were no results for: " + marvelSearch);
            }
        });//end of '$.get(...)'

    });
</script>



@*<h3> Search Marvel API v1</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Contains</a></li>
                            <li><a href="#its_equal">It's equal</a></li>
                            <li><a href="#greather_than">Greather than ></a></li>
                            <li><a href="#less_than">Less than < </a></li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <span class="input-group-btn"> --
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <h3> Search Marvel API v2</h3>
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-default">
                <div class="nav nav-justified navbar-nav">

                    <form class="navbar-form navbar-search" role="search">
                        <div class="input-group">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Search</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Search By Comic Title</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="label-icon">Search By Contributor (Arist/Writer/Publisher)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By Character</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <input type="text" class="form-control">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>

                        </div>
                    </form>

                </div>
            </nav>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function (e) {

            //version 1
            //search panel
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });

        });


        //version 2 - search panel
        //$(function () {
        //    $(".input-group-btn .dropdown-menu li a").click(function () {
        //        var selText = $(this).html();
        //        //working version - for single button //
        //        //$('.btn:first-child').html(selText+'<span class="caret"></span>');

        //        //working version - for multiple buttons //
        //        $(this).parents('.input-group-btn').find('.btn-search').html(selText);

        //    });

        //});

    </script>*@



