<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://acomicconundrumaseholm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>acomicconundrumaseholm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AComicConundrumASeholm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AComicConundrumASeholm</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ComicContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:acomicconundrumaseholmdbserver.database.windows.net,1433;Initial Catalog=AComicConundrumASeholm_db;User ID=aseholm@acomicconundrumaseholmdbserver;Password=C4rdholder" Name="Data Source=tcp:acomicconundrumaseholmdbserver.database.windows.net,1433;Initial Catalog=AComicConundrumASeholm_db;User Id=aseholm@acomicconundrumaseholmdbserver;Password=C4rdholder" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AComicConundrum_ASeholm.DAL.ComicContext, AComicConundrum_ASeholm" MigrationConfiguration="AComicConundrum_ASeholm.Migrations.Configuration, AComicConundrum_ASeholm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ComicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:acomicconundrumaseholmdbserver.database.windows.net,1433;Initial Catalog=AComicConundrumASeholm_db;User Id=aseholm@acomicconundrumaseholmdbserver;Password=C4rdholder</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>